@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: "Lexend", sans-serif;
    font-style: normal;
}

.skill-icon-img {
    width: 32px;
}

.progress {
    height: 2px;
}